.about-container {
  background-image: url("https://wallpapercave.com/wp/wp10228716.jpg");
  background-size: cover;
  background-position: center;
  height: 85.7vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.button-about {
  margin-top: 20px;
  text-align: center;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin-right: 30px;
}

.child:last-child {
  margin-right: 0;
}

.child:hover {
  background-color: white;
  transform: rotate3d(0.1, 0, 0);
  box-shadow: 0px 0px 10px 13px rgb(216, 220, 230);
}

.btn {
  border-radius: 25%;
  background-color: rgb(246, 246, 248);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 1px) perspective(80px) rotateX() translateY();
  border-radius: 50%;
}
@media (max-width: 1280px) {
  .button-about {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
  }

  .parent {
    flex-direction: column;
    align-items: center;
  }

  .child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.card-about {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(40, 33, 33, 0.8);
  backdrop-filter: blur(1px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  height: 700px;
  text-align: center;
  color: whitesmoke;
  margin-top: 30px;
}

.card-about h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.card-about p {
  font-size: 20px;
}

.foto-about {
  margin-top: 10px;
}
