.form-container {
    background-image: url("https://wallpapercave.com/wp/wp10228716.jpg");
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row; 
    justify-content:center;
    align-items: center;
  }
  