  .card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: #fffffe;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .card::before {
    content: "";
    width: 350px;
    height: 120px;
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid #fefefe;
    background: linear-gradient(40deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    transition: all 0.3s ease;
  }
  
  .card * {
    z-index: 1;
  }
  
  .image {
    width: 100px;
    height: 100px;
    background-color: #1468BF;
    border-radius: 50%;
    border: 4px solid #fefefe;    
    transition: all 0.5s ease;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease;
    height: 100px;
  }
  
  .card-info span {
    font-weight: 600;
    font-size: 24px;
    color: #161A42;
    margin: 15px 5px;
    line-height: 5px;
  }
  
  .card-info p {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin: 0px 30px;
    
  }
  
    
  .card:hover {
    width: 300px;
    border-radius: 250px;
  }
  
  .card:hover::before {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-bottom: none;
    transform: scale(0.95);
  }
  
  .card:hover .card-info {
    transform: translate(0%,-15%);
  }
  