.pagination-container {
  margin: 14px;
}

.pagination-buttons {
  display: flex;
  flex-wrap: wrap; 
}

.pagination-buttons button {
  margin: 5px; 
  padding: 10px 15px;
  border-radius: 10%;
  cursor: pointer;
  color: white;
  background-color: red;
  border: 1px solid white;
  flex: 1; 
  max-width: calc(20% - 10px); 
  text-align: center;
}

.pagination-buttons button:hover {
  background-color: rgba(227, 70, 70, 0.768);
  color: #f4f2de;
}

.pagination-buttons button:active {
  transform: scale(0.9);
}

.pagination-buttons button.active {
  background-color: red;
  color: #f4f2de;
}

.direction-buttons{
  text-align: center;
}
