.nav-container {
    background-color: red;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.title-container{
    margin-left: 20px;
    font-size: 2rem;   
    color: whitesmoke;
}

.button-container{
    margin-right: 20px;
    padding: auto;
    
}

.nav-button {
    padding: 10px 15px;
    margin: 2px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid ;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;   
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

