.nav-container {
  background-color: red;
  height: 11vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  font-size: 2rem;
  color: whitesmoke;
  margin: 2%;
}

.button-container {
  padding: auto;
  margin: 2%;
}

.nav-button {
  padding: 10px 15px;
  margin: 2px;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid;
  border-radius: 15px;
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 100px;
}

.nav-button:hover {
  background-color: white;
  color: red;
  border-color: red;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .title-container {  
    font-size: 1rem;
    color: whitesmoke;
  }
  .nav-button {
    padding: 8px 15px;
    margin: 1px;
    font-size: 0.5rem;
    background-color: transparent;
    border: 2px solid;
    border-radius: 15px;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 40%;
  }
}

